{% extends "base.html" %}

{% block title %}Merci pour votre inscription{% endblock %}

{% block content %}

<header id="account-header" class="masthead text-center text-white d-flex">
    <div class="container my-auto">
      <div id="home-search-block" class="row">
        <div class="col-lg-10 mx-auto">
          <h1 class="text-uppercase"><strong>Petit problème...</strong></h1>
          <hr>
        </div>
        <div id="login-box" class="col-lg-10 mx-auto">
            <p>Désolé, il semble que ce lien d'activation n'est plus valable.</p>
            <p>Vous pouvez reprendre la procédure en suivant <a href="{% url 'registration' %}" >ce lien</a>.</p>
            <p>Désolé pour le contre-temps !</p>
        </div>
      </div>
    </div>
</header>

{% endblock %}