{% extends "base.html" %}

{% block title %}Merci pour votre inscription{% endblock %}

{% block content %}

<header id="account-header" class="masthead text-center text-white d-flex">
    <div class="container my-auto">
      <div id="home-search-block" class="row">
        <div class="col-lg-10 mx-auto">
          <h1 class="text-uppercase"><strong>Merci pour votre inscription !</strong></h1>
          <hr>
        </div>
        <div id="login-box" class="col-lg-10 mx-auto">
            <p>Vous avez reçu un email contenant un lien.</p>
            <p>Veuillez prendre connaissance de ce message et suivre le lien afin d'activer votre compte.</p>
            <p>À très bientôt !</p>
        </div>
      </div>
    </div>
</header>

{% endblock %}