{% extends "base.html" %}

{% block title %}Upload fav{% endblock %}

{% block content %}


{% if error %}
<p><strong>Erreur queque part...</strong></p>
{% endif %}


<header id="account-header" class="masthead text-center text-white d-flex">
    <div class="container my-auto">
        <div id="home-search-block" class="row">
            <div id="login-box" class="col-lg-10 mx-auto">
            {% if user.is_authenticated %}
                <h1>Bonjour {{ user.username }} !</h1>
            
                
                {% comment %} <form method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <p>
                            {{ field.label_tag }}
                            {{ field }}
                            {% if field.help_text %}
                            <small style="display: none">{{ field.help_text }}</small>
                            {% endif %}
                            {% for error in field.errors %}
                            <p style="color: red">{{ error }}</p>
                            {% endfor %}
                        </p>
                    {% endfor %}
                    <input class="btn btn-primary btn-xl js-scroll-trigger" type="submit" value="Créer le compte" />
                </form> {% endcomment %}

                <form action="{% url "import_favorites" %}" method="POST" enctype="multipart/form-data" class="form-horizontal"> 
                    {% csrf_token %}
                    <div>
                        <label for="name">Fichier JSON de favoris :</label>
                        <div>
                            <input type="file" name="json_file" id="json_file" required="True" class="form-control">
                        </div>                    
                    </div>
                    <div class="form-group">                    
                        <div>
                            <button>Téléverser</button>
                        </div> 
                    </div>
                </form>
            {% else %}
                <h1 class="text-uppercase"><strong>Créer un compte</strong></h1>
                <hr>
            {% endif %}
            </div>
        </div>
    </div>
</header>

{% endblock %}